<script type="text/javascript">
	
	device = new Device('test', 1)
	
	$(document).ready(function(){
		device.render()
	})
	
</script>


<div class="system">
	<div id="test" class="device">
		<h4 class="name"></h4>
		<div class="desc"></div>
		<div class="data_registers"></div>
	</div>
</div>

