
<script type="text/javascript">
	$(document).ready(function(){
		
		
		
		// function changeIndicatorValue(indicator, to)
		
		

			// .append(buildRow(clear, 10))
		
		// $('h2').after(buildIndicator(10, indicatorTemplate))
		// 
		// 	$('h2').after(buildIndicator(20, indicatorTemplate2))
	
	})
	
</script>


<div id="control-panel">
	<div id="energy" class="category">
		
		<!-- <h2>Energy</h2> -->

		<div id="inverters" class="system">
			<h2>Inverters</h2>
			
			<div id="inverter_1" class="component">
				<h3>Inverter 1</h3>
					<table class="data">

						<thead>
							<tr>
								<td>Sensor</td>
								<td>Measure</td>
							</tr>
						</thead>
						<tr>
							<td>Load</td>
							<td>1200 AMPS</td>
						</tr>
					</table>
			</div>
			<div id="inverter_2" class="component">
				<h3>Inverter 2</h3>
				<table class="data">
				
					<thead>
						<tr>
							<td>Sensor</td>
							<td>Measure</td>
						</tr>
					</thead>
					<tr>
						<td>Load</td>
						<td>1200 AMPS</td>
					</tr>
				
					<tr>
						<td>Battery Voltage</td>
						<td>53 Volts</td>
					</tr>
				
				
					<tr>
						<td>Battery Temperature</td>
						<td>100&deg; F</td>
					</tr>
				
				</table>
			</div>
				
		</div>
		
		<div class="system">
			<h2>Solar</h2>
		</div>
		
		<div class="system">
			<h2>Wind</h2>
		</div>
		
		<div class="system">
			<h2>Diesel</h2>
			
			<table class="data">
				<thead>
					<tr>
						<td>Sensor</td>
						<td>Measure</td>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Output Voltage</td>
						<td>100 Volts</td>
					</tr>
			
					<tr>
						<td>RPM/Frequency</td>
						<td>3000 RPM</td>
					</tr>
			
					<tr>
						<td>Fuel Level</td>
						<td>75%</td>
					</tr>
			
					<tr>
						<td>Oil Level</td>
						<td>50%</td>
					</tr>
			
					<tr>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
						<td></td>
						<td></td>
					</tr>
			
					<tr>
						<td></td>
						<td></td>
					</tr>
				</tbody>
			</table>
			
		</div>
		
		
		<br clear="both">
		
	</div>
	
	<div id="water" class="category">
		
		<!-- <h2>Water</h2> -->

		<div class="system">
			<h2>Pumps</h2>
		</div>

		<div class="system">
			<h2>Wells</h2>
		</div>		
		
		<div class="system">
			<h2>Pools</h2>
			
			<table class="data">
				<tr>
					<td>Temperature</td>
					<td>93&deg;F</td>
				</tr>
				
				<tr>
					<td>Flow I/O</td>
					<td>70/65 GPM</td>
				</tr>
				
			</table>
		</div>

		<br clear="both">
		
	</div>
	
	<br clear="both">
	
	</div>
